@import url(./attribution-style.css);
@import url(./mylibrary.css);
@import url(https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap);
* {
  font-family: "Space Mono", monospace;
}
body {
  background-color: hsl(185, 41%, 84%);
}
header {
  display: flex;
  justify-content: center;
  margin: 50px auto 40px;
}
main {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
}
section:nth-of-type(1) {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
section:nth-of-type(2) {
  padding: 20px;
  border-radius: 10px;
}
section:nth-of-type(2) button {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
input,
section:nth-of-type(2) button,
.tip {
  height: 40px;
  border-radius: 5px;
  border: none;
}
section:nth-of-type(2),
button.tip {
  background-color: hsl(183, 100%, 15%);
  color: #fff;
}
.options {
  margin: 10px 0;
}
#select-tip {
  margin: 0 auto 15px;
}
.tips {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
label,
.label {
  display: block;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  margin-bottom: 10px;
}
.tip {
  width: 100%;
}
.tip,
input {
  font-size: 24px;
  font-weight: 700;
}
input {
  text-align: right;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  padding: 0 20px 0 30px;
  margin-bottom: 15px;
}
input#bill,
input#peoplenumber {
  width: 100%;
}
#bill {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 15px 12px;
}
#peoplenumber {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 15px 12px;
}
.amounts {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 20px;
}
.amount {
  font-size: 12px;
  font-weight: 700;
}
.per {
  color: hsl(184, 14%, 56%);
  font-size: 12px;
}
#total-amount,
#tip-amount {
  font-size: 24px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}
button:hover {
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}
button:active {
  transform: scale(0.98);
}
section:nth-of-type(2) button:hover {
  background-color: hsl(185, 41%, 84%);
}
.activeInput {
  outline: 2px solid hsl(172, 67%, 45%);
}
.invalidInput {
  outline: 2px solid rgb(252, 91, 91);
}
.invalidPeople {
  position: absolute;
  margin: 5px 0 0 80px;
  font-size: 10px;
  color: rgb(252, 91, 91);
  display: none;
}
