@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap);
.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.61);
  color: hsl(0, 0%, 100%);
  padding: 0 2px;
  width: 300px;
  margin: 0;
  line-height: 12px;
}
.attribution a {
  color: rgb(175, 228, 144);
}
.attribution,
.attribution a {
  font-size: 11px;
  font-family: sans-serif;
}
body {
  height: 100vh;
}
.pointer {
  cursor: pointer;
}
.nobg-noborder {
  background: none;
  border: none;
}
* {
  font-family: "Josefin Sans", sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: hsl(236, 9%, 61%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
h1 {
  padding-top: 7px;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 10px;
  color: #fff;
}
#theme-btn {
  width: 40px;
  height: 40px;
  background: url(./images/icon-moon.svg);
  background-repeat: no-repeat;
}
body {
  background-color: hsl(0, 0%, 98%);
}
#bg-img {
  height: 230px;
  background: url(./images/bg-mobile-light.jpg);
  background-position: center top;
  background-size: cover;
}
#bg-img.darkbg {
  background: url(./images/bg-mobile-dark.jpg);
  background-position: center top;
  background-size: cover;
}
#main-div {
  margin: auto;
  width: 88%;
  max-width: 600px;
  position: relative;
  top: -175px;
}
form,
#filter,
#list {
  box-shadow: 0 9px 16px 4px rgba(80, 80, 80, 0.192);
}
form.darkshadow,
#filter.darkshadow,
#list.darkshadow {
  box-shadow: 0 9px 16px 4px rgba(0, 0, 0, 0.192);
}
form,
#newtodo,
.list-item,
#filter,
#options-grid div {
  background-color: #fff;
  border-radius: 5px;
}
section#list {
  border-radius: 5px;
}
form {
  margin-bottom: 20px;
}
#newtodo {
  color: #000;
}
input[type="checkbox"] {
  display: none;
}
input[type="text"] {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-right: 10px;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.checkb[for="is-complete"] {
  width: 23px;
}
.checkb {
  display: inline-block;
  background-color: hsl(236, 33%, 92%);
  width: 26px;
  min-width: 23px;
  height: 20px;
  margin-right: 15px;
  border-radius: 50%;
  overflow: hidden;
}
input:checked ~ .checkb {
  border: none;
}
input ~ .checkb:after {
  border-radius: 50%;
  content: "";
  display: inline-block;
  background: url(./images/icon-check.svg), white;
  width: 80%;
  height: 80%;
  position: relative;
  left: 2px;
  top: 2px;
}
input ~ .checkb.dark:after {
  background: hsl(235, 24%, 19%);
  background-repeat: no-repeat;
  background-position: center;
}
input ~ .checkb:hover,
input ~ .checkb.dark:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
input:checked ~ .checkb:after {
  background: url(./images/icon-check.svg),
    linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: static;
}
li {
  list-style: none;
  overflow: auto;
}
form,
.list-item,
#filter {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}
.list-item {
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid hsl(240, 13%, 86%);
}
.list-item .li-p {
  display: inline-block;
  width: 100%;
  min-width: 170px;
  margin-right: 20px;
  color: hsl(235, 19%, 35%);
}
.list-item .li-p.completed {
  text-decoration: line-through;
  color: hsl(240, 13%, 86%);
}
.list-item:hover button {
  opacity: 1;
}
.list-item button {
  margin-right: 20px;
  background: none;
  border: none;
  opacity: 0;
}
#options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#filter {
  display: flex;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: center;
  margin-top: 20px;
}
.filter {
  margin: auto 10px;
  position: relative;
  z-index: 2;
}
#itemsleft,
#clearcompleted {
  padding-top: 20px;
  height: 50px;
}
#options-grid #itemsleft {
  padding-left: 20px;
  border-radius: 5px 0 0 5px;
}
#options-grid #clearcompleted {
  text-align: right;
  padding-right: 20px;
  border-radius: 0 5px 5px 0;
}
.filter,
#instruction {
  font-weight: 700;
}
#instruction {
  text-align: center;
  margin: 60px auto;
}
#instruction p {
  font-size: 13px;
}
#clearcompleted:hover,
.filter:hover {
  color: hsl(235, 19%, 35%) !important;
}
#clearcompleted.darkcolor:hover,
.filter.darkcolor:hover {
  color: hsl(236, 33%, 92%) !important;
}
@media (min-width: 680px) {
  * {
    font-size: 15px;
  }
  #bg-img {
    height: 250px;
    background: url(./images/bg-desktop-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
  #bg-img.darkbg {
    background: url(./images/bg-desktop-dark.jpg);
  }
  #main-div {
    top: -180px;
  }
  #options-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: relative;
    z-index: 2;
  }
  #clearcompleted {
    grid-area: 1 / 3 / 2 / 4;
  }
  #filter {
    margin: auto;
    position: relative;
    top: -50px;
    width: 320px;
    box-shadow: none;
  }
}
