.button{
  width: 25px; height: 25px;
  font-size: 20px;
  
  border: none;
  background: none;
  transition: all .2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover{
  
  background-color: whitesmoke;
  
}
.button:hover *{
  color: #49494d;
}