@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap);
.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.61);
  color: hsl(0, 0%, 100%);
  padding: 0 2px;
  width: 300px;
  margin: 0;
  line-height: 12px;
}
.attribution a {
  color: rgb(175, 228, 144);
}
.attribution,
.attribution a {
  font-size: 11px;
  font-family: sans-serif;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 0;
}
body {
  height: 100vh;
  max-height: auto;
  background-color: hsl(0, 0%, 98%);
  padding: 20px;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}
.main-wrapper {
  height: max-content;
  padding-bottom: 40px;
}
header {
  height: 200px;
  margin: 70px auto;
}
h1,
header p,
section {
  width: 300px;
  margin: 20px auto;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
h1,
h2 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
h1 span {
  font-weight: 200;
}
section {
  height: 240px;
  box-shadow: 0 15px 16px 0 rgba(34, 34, 34, 0.233);
  border-radius: 10px;
  border-top: 4px solid;
}
section:nth-of-type(1) {
  border-color: hsl(180, 62%, 55%);
}
section:nth-of-type(2) {
  border-color: hsl(0, 78%, 62%);
}
section:nth-of-type(3) {
  border-color: hsl(34, 97%, 64%);
}
section:nth-of-type(4) {
  border-color: hsl(212, 86%, 64%);
}
.wrapper {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  height: 100%;
  padding: 20px 30px;
}
img {
  float: right;
  margin-top: 40px;
  transition: all 0.2s;
}
.margintop-20 {
  margin-top: 20px;
}
@media (max-width: 670px) {
  header {
    margin-bottom: 0;
  }
}
@media (min-width: 670px) {
  header {
    margin: 15px auto;
  }
  header p {
    width: 500px;
    text-align: center;
  }
  h1 {
    font-size: 26px;
    width: 400px;
    text-align: center;
  }
  section {
    width: 350px;
  }
}
@media (min-width: 790px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1110px) {
  h1 {
    font-size: 30px;
  }
  .main-wrapper {
    display: block;
    max-width: 1100px;
    margin: 0 auto 0;
  }
  section:nth-of-type(1) {
    float: left;
    position: relative;
    top: 120px;
  }
  section:nth-of-type(4) {
    float: right;
    position: relative;
    top: -400px;
  }
}
.wrapper:hover img {
  transform: translateX(-10px);
}
