@import url(https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap);
.attribution {
  font-size: 11px;
  position: fixed;
  bottom: 0;
  text-align: center;
  right: 0;
  background-color: rgba(0, 0, 0, 0.61);
  color: hsl(0, 0%, 100%);
  padding: 0 2px;
  width: 300px;
  margin: 0;
  line-height: 12px;
}
.attribution a {
  color: rgb(175, 228, 144);
}
.attribution,
.attribution a {
  font-size: 11px;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --mygray: #3b3e42;
  --mydark: #25282c;
  --myverydark: #191c20;
  --mylightgray: #ecf0f1;
}
body {
  height: 100vh;
}
.pointer {
  cursor: pointer;
}
.nobg-noborder {
  border: none;
  background: none;
}
* {
  scroll-behavior: smooth;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}
header,
main,
footer {
  width: 100%;
}
header {
  height: 100vh;
  max-height: 600px;
  background-image: url(./images/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(34, 34, 34, 0.507);
  background-blend-mode: darken;
}
.logo {
  width: 140px;
  position: relative;
  margin: 40px 30px;
  z-index: 5;
}
.nav {
  display: none;
  z-index: 4;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 0%);
  flex-direction: column;
  justify-content: center;
}
nav a {
  display: block;
  margin: 15px 40px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
#menu {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 39px;
  right: 30px;
  height: 25px;
  width: 25px;
  z-index: 5;
}
.close {
  background: url(./images/icon-close.svg);
  right: 45px !important;
}
.hamburger {
  background: url(./images/icon-hamburger.svg);
}
h1 {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  width: 320px;
  padding: 30px 20px 20px;
  margin: 70px auto;
}
main h2 {
  text-transform: uppercase;
  font-size: 30px;
  margin: 40px auto 20px;
}
main {
  padding: 90px 20px 100px;
}
main * {
  margin: auto;
  width: 100%;
  max-width: 900px;
}
section:nth-of-type(1),
h2 {
  text-align: center;
}
section:nth-of-type(1) article {
  padding: 0 20px;
  margin: 50px auto;
}
section:nth-of-type(1) article p {
  color: hsl(0, 0%, 41%);
  font-family: "Alata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
#seeall {
  display: block;
  background: none;
  padding: 10px;
  margin: auto;
  width: 150px;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  grid-row: 3;
}
#seeall:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.creations {
  display: grid;
  gap: 20px;
}
.creation {
  height: 120px;
  text-transform: uppercase;
  padding: 50px 20px;
  font-size: 25px;
  background-size: cover;
}
.creation:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.589);
  background-blend-mode: overlay;
}
.creation:hover::after {
  background: none;
}
.creation:hover li {
  color: #000;
}
.creation::after {
  content: "__________";
  color: rgba(250, 235, 215, 0);
  width: 160px;
  max-width: max-content;
  height: 120px;
  margin: -50px 0 0 -150px;
  position: absolute;
  z-index: 2;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.493) 0%,
    rgba(0, 0, 0, 0.441) 25%,
    rgba(0, 0, 0, 0.379) 46%,
    rgba(0, 0, 0, 0.32) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.23) 85%,
    rgba(6, 6, 6, 0) 100%
  );
}
.creation-text {
  width: 130px;
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 3;
}
.creation:nth-of-type(1) {
  background-image: url(./images/mobile/image-deep-earth.jpg);
}
.creation:nth-of-type(2) {
  background-image: url(./images/mobile/image-night-arcade.jpg);
}
.creation:nth-of-type(3) {
  background-image: url(./images/mobile/image-soccer-team.jpg);
}
.creation:nth-of-type(4) {
  background-image: url(./images/mobile/image-grid.jpg);
}
.creation:nth-of-type(5) {
  background-image: url(./images/mobile/image-from-above.jpg);
}
.creation:nth-of-type(6) {
  background-image: url(./images/mobile/image-pocket-borealis.jpg);
}
.creation:nth-of-type(7) {
  background-image: url(./images/mobile/image-curiosity.jpg);
}
.creation:nth-of-type(8) {
  background-image: url(./images/mobile/image-fisheye.jpg);
}
footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 55%);
  text-align: center;
  padding: 20px 0 40px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
footer a {
  color: #fff;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  margin-bottom: 20px;
  width: 70px;
}
.footer-links a:hover::after {
  display: block;
  position: absolute;
  margin-left: 25px;
  margin-top: 7px;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.socmeds {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
}
.socmed {
  margin: 4px;
}
.socmed svg {
  width: 24px;
  height: 34px;
  padding-bottom: 6px;
}
.socmed svg:hover {
  border-bottom: 2px solid #fff;
}
#twitter svg {
  padding-top: 2px;
}
.copyright {
  display: block;
  font-family: "Alata", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 700px) {
  h1 {
    font-size: 45px;
    width: 50%;
    margin-top: 90px;
  }
}
@media (min-width: 800px) {
  header {
    background-image: url(./images/desktop/image-hero.jpg);
    background-position: center;
  }
  .nav {
    display: flex;
    position: relative;
    top: -80px;
    right: 50px;
    height: auto;
    width: 350px;
    background-color: hsla(0, 0%, 0%, 0);
    flex-direction: row;
    float: right;
  }
  nav a {
    display: block;
    width: 54px;
    margin: 15px 10px;
    font-weight: 400;
    font-family: "Alata", sans-serif;
    font-size: 15px;
    text-transform: none;
  }
  nav a:hover::after {
    display: block;
    position: absolute;
    margin-left: 4%;
    margin-top: 7px;
    content: "";
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  #menu {
    display: none;
  }
  h1 {
    font-size: 55px;
    max-width: 448px;
    margin-left: 100px;
  }
  main {
    padding: 90px 100px 100px;
  }
  section:nth-of-type(2) h2 {
    margin: auto auto;
    text-align: left;
  }
  section:nth-of-type(2) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: max-content;
  }
  #vrguy {
    content: url(./images/desktop/image-interactive.jpg);
  }
  #seeall {
    grid-area: 1 / 2 / 2 / 3;
    width: 151px;
    height: 41px;
    margin: auto 0 auto auto;
  }
  .creations {
    grid-template-columns: 1fr 1fr;
    grid-area: 2 / 1 / 3 / 3;
  }
  .creation::after {
    width: 30%;
    height: 120px;
  }
  footer {
    text-align: left;
    padding: 0 0 0;
    display: flex;
  }
  footer > div {
    width: 50%;
    margin-top: 40px;
  }
  .socmeds-opposite {
    margin-left: 110px;
  }
  .footer-links {
    display: block;
    margin-top: 30px;
  }
  footer a {
    margin-bottom: 20px;
    margin-right: 25px;
  }
  .footer-links a:hover::after {
    content: "";
    display: inline-block;
    position: absolute;
    margin-left: -35px;
    margin-top: 27px;
    width: 20px;
    height: 2px;
    background-color: #fff;
  }
  footer .logo {
    margin: 0;
  }
  .socmeds {
    margin: auto;
    margin-right: 110px;
    width: 50%;
    text-align: right;
  }
  .copyright {
    margin-top: 20px;
  }
}
@media (min-width: 1050px) {
  h1 {
    margin: 90px auto;
    position: relative;
    right: 210px;
  }
  main h2 {
    font-size: 35px;
  }
  section:nth-of-type(1) {
    display: flex;
    margin-bottom: 80px;
  }
  section:nth-of-type(1),
  section:nth-of-type(1) h2 {
    text-align: left;
  }
  #vrguy {
    width: 70%;
  }
  section:nth-of-type(1) article {
    background-color: #fff;
    width: 80%;
    position: relative;
    left: -125px;
    top: 100px;
    padding: 20px 0 30px 50px;
  }
  section:nth-of-type(1) article h2,
  section:nth-of-type(1) article p {
    width: 160%;
  }
  .creations {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .creation {
    height: 300px;
    width: 200px;
    padding: 220px 0 0 20px;
    background-size: cover;
  }
  .creation::after {
    width: 20%;
    max-width: 200px;
    height: 120px;
    margin: -40px 0 0 -150px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6110819327731092) 0%,
      rgba(0, 0, 0, 0.4009978991596639) 30%,
      rgba(0, 0, 0, 0.39) 57%,
      rgba(0, 0, 0, 0.09007352941176472) 75%,
      rgba(6, 6, 6, 0) 100%
    );
  }
  .creation:nth-of-type(1) {
    background-image: url(./images/desktop/image-deep-earth.jpg);
  }
  .creation:nth-of-type(2) {
    background-image: url(./images/desktop/image-night-arcade.jpg);
  }
  .creation:nth-of-type(3) {
    background-image: url(./images/desktop/image-soccer-team.jpg);
  }
  .creation:nth-of-type(4) {
    background-image: url(./images/desktop/image-grid.jpg);
  }
  .creation:nth-of-type(5) {
    background-image: url(./images/desktop/image-from-above.jpg);
  }
  .creation:nth-of-type(6) {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
  }
  .creation:nth-of-type(7) {
    background-image: url(./images/desktop/image-curiosity.jpg);
  }
  .creation:nth-of-type(8) {
    background-image: url(./images/desktop/image-fisheye.jpg);
  }
}
